:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --clr-primary-200: #fff;
  --clr-primary-400: #57a048;
  --clr-neutral-100: #ecf3ed;
  --clr-neutral-900: #1a5e63;
  --ff-primary: "Helvetica Neue", Helvetica, Arial, sans-seriF;
}
.clr-primary{
  color: var(--clr-primary-400)
}
.clr-blue{
  color: var(--bs-blue);
}
.clr-danger{
  color: var(--bs-red);
}
.clr-warning{
  color: var(--bs-warning);
}
.clr-info{
  color: var(--bs-info);
}
.clr-neutral{
color: var(--clr-neutral-900);
}
#bg-neutral{
  background-color: var(--clr-neutral-900);
  
}
@media (min-width: 40em) {
  .split {
    display: flex;
    flex-direction: column;
  }
}
.text-wrapper{
  word-wrap: break-word;
 
   margin-left: 30%;
}
@media (min-width: 380px) {
  .text-wrapper{
   
     text-align:center;
     margin-left: auto;
  }
  }

/* With this everything becomes to columns */
.split {
  display: flex;
  flex-direction: row;
}
.bg-light {
  background-color: var(--clr-primary-200);
}
.bg-primary {
  background-color: var(--clr-primary-400);
}
.bg-neutral {
  background-color: var(--clr-neutral-100);
}

.text-center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.black-item{
  color: black;
}
