:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    --clr-primary-200: #fff;
    --clr-primary-400: #57a048;
    --clr-neutral-100: #ecf3ed;
    --clr-neutral-900: #1a5e63;
    --ff-primary: "Helvetica Neue", Helvetica, Arial, sans-seriF;
  }
  .footer div{
    border: none !important;
    margin-right: 5rem ;
    }
    .footer p{
      margin-right: 5rem ;
    }
    @media (max-width:400px){
      .footer p{
        margin-right:0;
      }
    }
    @media (max-width:400px){
      .footer div{
        margin-right:0;
      }
    }
    .footer button{
     
      margin: 1rem !important;
    }
    .footer-center input{
     margin: 3em auto !important;
     
    }
    .footer li{
    list-style: none;
    margin-bottom: 1rem !important;
    color: var(--clr-neutral-900);
    }
   .contact-hr{
    margin-bottom: 7%;
    width: 150px;
    height: 2px;
    background-color: var(--clr-primary-400)
   }
   .mastercard{
   font-size: 50px;
   margin: 0.5rem !important;
  color: #390e7e;
  margin-bottom: 10% !important;
   }
   .info-hr{
    
    margin-bottom: 7%;
    width: 200px;
    height: 2px;
    background-color: var(--clr-primary-400)
   }
  .info-li li:hover{
   color: var(--bs-red);
   }
   .hr-footer{
    height:2px;
   }
   .footer-h1{
     position: absolute;
     width: 100%;
     margin-bottom: 0;
     
   }