:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --clr-primary-200: #fff;
  --clr-primary-400: #57a048;
  --clr-neutral-100: #ecf3ed;
  --clr-neutral-900: #1a5e63;
  --ff-primary: "Helvetica Neue", Helvetica, Arial, sans-seriF;
}
header {
  height: 100px;
  background-color: var(--clr-primary-200);
  width: 100%;
  z-index: 10;
  position: fixed;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-primary-200);
  height: 100px;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.logo-container > img {
  display: block;
  width: 100px;
  margin: 1.5rem;
  position: absolute;
}

.nav-button {
  margin-right: 5%;
}
nav button {
  width: 50px;
  float: right;
  color: var(--clr-primary-400);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  
}
nav button i{
  font-size: 25px;
  
}
.nav-menu {
  margin-top: 2%;
  margin-left: 10%;
}
#red {
  color: var(--bs-red);
}

.nav-menu a {
  padding: 2px 10px 100px 25px;
  text-decoration: none !important;
  color: var(--clr-primary-400);
}
.nav-menu a:hover {
  color: var(--bs-danger);
}
@media (max-width: 900px) {
  .nav-menu {
    display: none;
  }
}
