:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --clr-primary-200: #fff;
  --clr-primary-400: #57a048;
  --clr-neutral-100: #d2e6d3;
  --clr-neutral-900: #1a5e63;
  --ff-primary: "Helvetica Neue", Helvetica, Arial, sans-seriF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}
h2,
h3,
p {
  margin-bottom: 1em;
}
p {
  font-family: "Poppins";
  color: #1a5e63;
  font-size: 106.25%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 600;
}
header {
  height: 90px;
}

header,
section {
  padding: 3rem 0;
}
@media (min-width: 40em) {
  header,
  section {
    padding: 3rem 0;
  }
}

@media (min-width: 1400px) {
  .home {
    min-height: 1000px;
  }
}
img {
  display: block;
  max-width: 100%; /* shrink if the area is smaller */
}
.heading {
  left: auto;
}
.heading-p{

  left: auto;
  width: 300px;
}
@media (max-width:780px){
  .heading {
    left: 0;
    text-align: center;
  }
}
#doctor {
  width: 620px;
}
/*Fix this*/
#startNow {
  margin-left: 5rem;
  /* margin-bottom: 3rem; */
  border-radius: 10%;
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-400);
  display: inline-block;
  padding: 10px 35px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
}
#startNow:hover {
  color: var(--clr-primary-200);
  background-color: var(--bs-red);
}
@media (min-width: 1200px) {
  .doctor-img {
    display: block;
    float: right;
  }
}
@media (max-width: 1200px) {
  .doctor-img {
    display: none;
   
  }
}
@media (min-width: 1199px) {
  .doctor-img2 {
    visibility:hidden;
  }
}
@media (max-width:1199px) {
  .doctor-img2 {
    margin-top: 5%;
    display: visible;
   
  }
}
.alivia-color-primary {
  color: var(--clr-primary-400);
  font-family: "Poppins";
  font-size: 312.5%;
  text-shadow: none;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 600;
}
@media (max-width: 600px) {
  .alivia-color-primary {
    font-size: 100%;
  }
}
.alivia-color-secondary {
  color: var(--clr-neutral-900);
  font-family: "Poppins";
  color: #1a5e63;
  font-size: 312.5%;
  text-shadow: none;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 600;
}
@media (max-width: 600px) {
  .alivia-color-secondary {
    font-size: 100%;
  }
}
/* responsive */
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
/* responsive */
.container-narrow {
  max-width: 34rem;
}
/* Second-section */
.download-container {
  height: auto;
  text-align: center;
  color: var(--clr-primary-200);
  background-image: url(../img/descargaYa.png);
  display: block;
}
.download-container button {
  display: inline-block;
  padding: 10px 35px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-200);
  border: none;
  border-radius: 15px;
}
.download-container h5 {
  margin: 2rem auto;
}
.download-container button:hover {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-400);
}
/* Third-section */
.perks {
  width: 90vw;
  max-width: 1117px;
  margin: 5rem auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
#advantageImage{
  width: 50px;
}
@media screen and (min-width: 768px) {
  .perks {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Fourth-section */
.second-container {
  background: #000;
  width: 300px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

.slideshow_wrapper {
  width: 300px;
  height: 280px;
  overflow: hidden;
}

.slideshow {
  width: 300px;
  height: 280px;
  margin: 0 0 0 -1000px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.slide {
  width: 300px;
  height: 270px;
  position: relative;
  float: left;
  overflow: hidden;
}

.slideshow img {
  width: 280px;
  height: 270px;
}

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 500px;
  }
  20% {
    left: 500px;
  }
  30% {
    left: 500px;
  }
  40% {
    left: 500px;
  }
  50% {
    left: 500px;
  }
  60% {
    left: 500px;
  }
  70% {
    left: 1000px;
  }
  80% {
    left: 1000px;
  }
  90% {
    left: 1000px;
  }
  100% {
    left: 1000px;
  }
}

.logos{
  display: flex;
  flex-direction: row;
  padding: auto;
}

.logos img{
  width: 100px;
 
  
}
@media screen and (min-width: 1350px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 4rem;
  }
}
@media screen and (max-width: 1350px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1;
  }
}
@media screen and (max-width: 320px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1;
   
  }
}

/*Fifth*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column p {
  text-align: center;
}
@media screen and (max-width: 350px) {
  .column img {
    margin-top: 10%;
    max-width: 300px;
    margin: 1.5rem auto;
  }
}
/* Clear floats after the columns */
.row:after {
  display: flex;
  margin: 2rem;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Sixth */
.about {
  margin-top: 20%;
}
.about h2,
p {
  text-align: center;

  color: var(--clr-neutral-900);
}
.about p {
  margin: 2rem auto;
}

@media screen and (max-width: 350px) {
  .about img {
    margin-top: 0;
    margin: 1.5rem auto;
  }
}
/* Seventh */
.seventh {
  margin-top: 30%;
}
.seventh-card{
  margin-top: 30%;
  width: 100%;
  height: 300px;
  max-width: 1000px;
  box-shadow: 0px 15px 20px rgb(26 94 99 / 30%);
  background: url(https://alivianutricion.com/wp-content/uploads/2021/05/heart.png);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 75%;
    background-size: 90px;
    opacity: 1;
}
#seventh-card{
  
  background: url(https://alivianutricion.com/wp-content/uploads/2021/05/thunder.png);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 75%;
  background-size: 45px;
  z-index: -1;
  width: 100%;
  height: 100%;

}

@media screen and (min-width:800px) {
  .seventh {
    margin-top: 5%;
  }
}
@media screen and (min-width:600px) {
  .seventh-card {
    
  }
}
/* Eight */
#svg{
  margin-top: 50%;
}
.svg{
  margin-top: 100%;
}
.svg-section{
  margin-bottom: 70%;
}
 /* Ninefth */

